FRONTEND_URI=http://localhost:5173
PORT=3001   
MONGO_URI="mongodb+srv://<db_user_name>:<db_pass>@cluster.xxxx.mongodb.net/database_name"
REDIS_URL='redis://cli_link'
GOOGLE_CLIENT_ID=xxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxx
CLOUDINARY_CLOUD_NAME=xxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxx
JWT_SECRET=sdsdsdc